.line-1{
    position: relative;
    top: 50%;
    width: 20em;
    margin: 0 auto;
    border-right: 2px solid rgba(60,60,60,.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(42) 1s 1 normal both,
             blinkTextCursor 500ms steps(42) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 36em;}
  /*Edit em to fit line-1*/
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(60,60,60,.75);}
  to{border-right-color: transparent;}
}
